{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

<style>
    marquee{
        margin-top: 5px;
        margin-top: 25px;
        font-size: large;
        font-family:'Times New Roman', Times, serif;
        background-color: yellow;
        font-weight: bold;
    }
    table{
        border-width: medium;
        font-size: 20px;
    }
    #company-logo{
        border-radius: 30px;
        width: 50px;
        height: 50px;
    }
</style>

<marquee>
    <i>Created Jobs</i>
</marquee>
<hr>

<div class="container">
    <table class="table table-hover" id="example">
        <thead>
            <tr style="background-color: darkblue; color: white">
                <th>S.No.</th>
                <th>Full Name</th>
                <th>Email ID</th>
                <th>Contact Number</th>
                <th>Company</th>
                <th>Job Role</th>
                <th>Domain</th>
                <th>Application Date</th>
                <th>Resume</th>
            </tr>
        </thead>
        <tbody>
            {% for i in applications_received %}
                {% ifequal request.user.id i.job.recruiter.user.id %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.student.user.first_name }} {{ i.student.user.last_name }}</td>
                        <td>{{ i.student.user.email }}</td>
                        <td>{{ i.student.mobile }}</td>
                        <td>{{ i.job.recruiter.company }}</td>
                        <td>{{ i.job.role }}</td>
                        <td>{{ i.job.domain }}</td>
                        <td>{{ i.application_date }}</td>
                        <td><a href="{{ i.resume.url }}">Download Resume</a></td>
                    </tr>
                {% endifequal %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% include 'footer.html' %}