{% load static %}
{% include 'user_navigation.html' %}
{% block body %}
    <style>
        marquee{
            margin-top: 5px;
            margin-top: 25px;
            font-size: large;
            font-family:'Times New Roman', Times, serif;
            background-color: yellow;
            font-weight: bold;
        }
        .user_password_form{
            width: 50%;
            margin: auto;
            text-align: center;
            margin-top: 15px;
            padding: 15px;
            font-size: larger;
            font-weight: bold;
        }
        #submit{
            background-color: black;
            color: white;
            font-weight: bold;
            margin: auto;
            display: block;
            padding: 15px;
            margin-top: 25px;
            border-radius: 15px;
            border: black;
        }
    </style>
    <marquee>
        <i>Change Password</i>
    </marquee>
    <script>
        function check_password(){
            if(document.change_password.new_password.value != document.change_password.confirm_password.value){
                alert("New password and confirm password doesn't match!");
                document.change_password.confirm_password.value.focus();
                return false;
            }
            return true;
        }
    </script>
    <form method="POST" name="change_password" onsubmit="return check_password()" class="user_password_form">
        {% csrf_token %}
        <label><b>Current Password</b></label>
        <input type="password" class="form-control" name="current_password" required=True>
        <label><b>New Password</b></label>
        <input type="password" class="form-control" name="new_password" minlength="6" required=True>
        <label><b>Confirm Password</b></label>
        <input type="password" class="form-control" name="confirm_password" minlength="6" required=True>
        <input type="submit" class="btn-btn-primary" id="submit">
    </form>
{% ifequal error "no" %}
<script>
    alert("Password updated successfully!")
    window.location = ('{% url "user_login" %}')
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert("Something went wrong, please try agian!")
</script>
{% endifequal %}
{% ifequal error "currentwrong" %}
<script>
    alert("Current Password is wrong!")
</script>
{% endifequal %}
<!-- {% ifequal error "samepassword" %}
<script>
    alert("New Password same as old password")
</script>
{% endifequal %} -->
{% endblock %}